<%- include('partials/Header') %>

<style>
  .btn-custom {
            border-radius: 50px;
            width: 200px;
            font-weight: bold;
        }
        .btn-login {
            background-color: #3498db ;
            color: white;
        }
        .btn-register {
            background-color: #f1c40f;
            color: white;
        }
        .divider {
            display: flex;
            align-items: center;
            text-align: center;
            margin: 20px 0;
        }
        .divider::before, .divider::after {
            content: '';
            flex: 1;
            border-bottom: 1px solid #ddd;
        }
        .divider::before {
            margin-right: .25em;
        }
        .divider::after {
            margin-left: .25em;
        }
</style>

<div class="container d-flex align-items-center" style="height: 100vh">
  <div class="row">
    <div class="col-md-6">
      <h1>Welcome to Our Website</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet
        nulla auctor, vestibulum magna sed, convallis ex. Cum sociis natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet
        nulla auctor, vestibulum magna sed, convallis ex. Cum sociis natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      </p>
    </div>
    <div class="col-md-6">
      <div class="text-center">
        <a href="/login"><button type="button" class="btn btn-custom btn-login mb-3">Log In</button></a>
        
        <div class="divider">Don't have an account yet?</div>

        <a href="/register"><button type="button" class="btn btn-custom btn-register">Register</button></a>
        
    </div>
    </div>
  </div>
</div>

<%- include('partials/Footer') %>